<div
  class="fixed inset-0 flex items-center justify-center bg-gray-700 bg-opacity-50 z-50"
  [ngClass]="{
    ' justify-center': ejerciciosGenerados.length === 0,
    ' justify-end pr-7': ejerciciosGenerados.length > 0
  }"
>
  <!-- Contenedor del modal -->
  <div
    class="bg-white rounded-lg shadow-lg w-11/12 sm:w-3/4 md:w-3/4 mx-4 max-h-[95vh] overflow-y-auto"
    [ngClass]="{
      'max-w-4xl': ejerciciosGenerados.length === 0,
      'max-w-6xl': ejerciciosGenerados.length > 0
    }"
  >
    <!-- Encabezado del modal -->
    <div
      class="flex justify-between items-center p-4 md:p-6 border-b border-gray-200"
    >
      <h2 class="text-xl md:text-2xl font-bold text-gray-800">
        Generar Ejercicios para
        <span class="text-primary-500">
          {{ _pacienteGenerate[0].nombre }} {{ _pacienteGenerate[0].apellido }}
        </span>
      </h2>

      <button
        type="button"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-primary-500 dark:hover:text-white"
        (click)="onCerrarModal()"
      >
        <i class="fa-solid fa-xmark"></i>
        <span class="sr-only">Close modal</span>
      </button>
    </div>

    <!-- Contenedor de dos columnas -->
    <div class="flex flex-col md:flex-row gap-4 md:gap-6 p-4 md:p-6">
      <!-- Columna Izquierda (Formulario) -->
      <div
        class="w-full md:w-1/3 p-4 bg-gray-50 rounded-lg shadow-md"
        [ngClass]="{
          'md:w-1/4': ejerciciosGenerados.length > 0
        }"
      >
        <!-- Imagen (solo visible si no hay ejercicios) -->
        <div class="flex justify-center mb-4 md:mb-6">
          <img
            [src]="categoriaSeleccionada()?.src"
            alt="Imagen de ejercicios"
            class="w-32 h-32 md:w-48 md:h-48 rounded-full object-cover hidden md:block"
          />
        </div>
        <div
          *ngIf="ejerciciosGenerados.length === 0"
          class="flex justify-center mb-4 md:mb-6"
        >
          <img
            [src]="categoriaSeleccionada()?.src"
            alt="Imagen de ejercicios"
            class="w-32 h-32 md:w-48 md:h-48 rounded-full object-cover block md:hidden"
          />
        </div>

        <!-- Formulario para generar ejercicios -->
        <div class="space-y-4">
          <h3 class="text-base md:text-lg font-semibold text-gray-800">
            Modo de Selección:
          </h3>
          <div class="flex items-center space-x-2">
            <input
              type="radio"
              id="webScraping"
              name="modo"
              class="form-radio text-primary-500"
              checked
            />
            <label for="webScraping" class="text-gray-700"
              >Selección automática</label
            >
          </div>
          <p class="text-xs md:text-sm text-gray-600">
            Los ejercicios se obtienen de fuentes en línea para ofrecerte
            opciones personalizadas.
          </p>

          <!-- Input para el número de ejercicios -->
          <div>
            <label
              for="cantidadEjercicios"
              class="block text-sm font-medium text-gray-700"
            >
              Número de Ejercicios:
            </label>
            <input
              type="number"
              id="cantidadEjercicios"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm text-sm"
              placeholder="Ej. 1, 3, 5"
              [(ngModel)]="this.cantidadEjercicios"
            />
          </div>

          <!-- Botón de Generar -->
          <button
            class="w-full bg-primary-500 text-black font-semibold px-4 py-2 rounded-lg hover:bg-primary-600 transition-colors duration-300 text-sm md:text-base"
            (click)="generarEjercicios()"
            [disabled]="isLoading"
          >
            <span *ngIf="!isLoading">Generar</span>
            <span *ngIf="isLoading">
              Generando preguntas...
              <i class="fas fa-spinner fa-spin ml-2"></i>
              <!-- Icono de carga -->
            </span>
          </button>
        </div>
      </div>

      <!-- Columna Derecha (Ejercicios generados) -->
      <div
        class="w-full p-4 bg-gray-50 rounded-lg shadow-md"
        [ngClass]="{
          'md:w-3/4': ejerciciosGenerados.length > 0,
          'md:w-2/3': ejerciciosGenerados.length === 0
        }"
      >
        <!-- Tarjetas de ejercicios generados -->
        <!-- Ejercicios Generados -->
        <div *ngIf="ejerciciosGenerados.length > 0">
          <h3
            class="text-xl md:text-2xl font-bold text-gray-800 mb-6 text-center"
          >
            🧠 Ejercicios Generados
          </h3>

          <!-- Carrusel con botones -->
          <div class="relative">
            <!-- Botón Izquierdo -->
            <button
              (click)="scrollCarrusel('left')"
              class="absolute left-0 top-1/2 -translate-y-1/2 z-10 bg-accent-200 border shadow-md rounded-full p-2 hover:bg-accent-300"
            >
              <i class="fas fa-chevron-left text-gray-700"></i>
            </button>

            <!-- Contenedor Carrusel -->
            <div
              #carrusel
              class="flex gap-6 overflow-x-auto scroll-smooth snap-x snap-mandatory px-2 pb-4"
            >
              <div
                *ngFor="let ejercicio of ejerciciosGenerados; let i = index"
                class="bg-white border border-gray-200 rounded-2xl shadow-md hover:shadow-xl transition-all duration-300 flex flex-col overflow-hidden min-w-[300px] snap-start"
              >
                <!-- Imagen -->
                <div class="bg-blue-100 flex items-center justify-center p-4">
                  <img
                    [src]="getRandomImage(i)"
                    alt="Ejercicio"
                    class="h-32 object-contain"
                  />
                </div>

                <!-- Contenido -->
                <div class="p-4 flex flex-col gap-2 flex-grow">
                  <h2 class="text-lg font-semibold text-gray-800">
                    {{ ejercicio.titulo }}
                  </h2>

                  <p class="text-sm text-gray-600 line-clamp-2">
                    {{ ejercicio.descripcion }}
                  </p>

                  <div>
                    <p class="text-xs font-medium text-gray-700">
                      📌 Instrucciones:
                    </p>
                    <p class="text-sm text-gray-600 line-clamp-2">
                      {{ ejercicio.instrucciones }}
                    </p>
                  </div>

                  <div class="mt-auto flex justify-end">
                    <span
                      class="text-xs font-semibold px-3 py-1 rounded-full text-white"
                      [ngClass]="{
                        'bg-green-500': ejercicio.dificultad === 'baja',
                        'bg-yellow-500': ejercicio.dificultad === 'media',
                        'bg-red-500': ejercicio.dificultad === 'alta'
                      }"
                    >
                      {{ ejercicio.dificultad }}
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Botón Derecho -->
            <button
              (click)="scrollCarrusel('right')"
              class="absolute right-0 top-1/2 -translate-y-1/2 z-10 bg-accent-200 border shadow-md rounded-full p-2 hover:bg-accent-300"
            >
              <i class="fas fa-chevron-right text-gray-700"></i>
            </button>
          </div>

          <!-- Botones de acción -->
          <div class="flex justify-center gap-6 mt-8">
            <button
              class="bg-sky-500 hover:bg-sky-600 text-white font-semibold px-6 py-2 rounded-full shadow transition-all duration-300 flex items-center gap-2"
              (click)="abrirPrevisualizacion()"
            >
              <i class="fas fa-eye"></i>
              Visualizar Ejercicios
            </button>

            <button
              class="bg-yellow-400 hover:bg-yellow-500 text-black font-semibold px-6 py-2 rounded-full shadow transition-all duration-300 flex items-center gap-2"
              (click)="iniciarEjercicio()"
              [disabled]="!ejerciciosValidados"
              matTooltip="{{
                !ejerciciosValidados
                  ? 'Antes de comenzar es recomendable validar los ejercicios'
                  : '¡Ya puedes comenzar!'
              }}"
            >
              <i class="fas fa-play"></i>
              ¡Comenzar!
            </button>
          </div>
        </div>

        <!-- Mensaje cuando no hay ejercicios generados -->
        <div *ngIf="ejerciciosGenerados.length === 0" class="text-center">
          <p class="text-sm md:text-base text-gray-600">
            Genera ejercicios para ver las opciones disponibles.
          </p>
          <img
            alt="Imagen de ejercicios"
            class="hidden md:block"
            src="../../../../../assets/images/ejercicio/generandoEjercicio.png"
          />
        </div>
      </div>
    </div>
    <app-previsualizacion-ejercicios
      [ejercicios]="ejerciciosGenerados"
      (closeModalEvent)="cerrarPrevisualizacion()"
      [paciente]="_pacienteGenerate[0]"
      (ejerciciosValidados)="onEjerciciosValidados($event)"
      *ngIf="mostrarPrevisualizacion"
    ></app-previsualizacion-ejercicios>
  </div>
</div>
