<div class="flex flex-col items-center w-full">
  <!-- Título con ícono -->
  <h2
    class="text-xl font-semibold text-white bg-gradient-to-r from-yellow-200 to-orange-300 px-5 py-2 rounded-lg shadow-md flex items-center space-x-2 animate-bounce"
  >
    <i class="fas fa-brain text-yellow-600"></i>
    <i class="fas fa-clock text-yellow-500"></i>
    <span class="text-black text-center"
      >¡Es hora de los ejercicios de estimulación cognitiva!</span
    >
  </h2>
  <!-- <button
    class="bg-primary-400 text-black px-4 py-2 rounded-lg hover:bg-primary-500 transition-colors duration-300"
    (click)="seleccionarCategoria('Memoria')"
  >
    Seleccionar
  </button> -->
  <!-- <a
    class="bg-primary-400 text-black px-4 py-2 rounded-lg hover:bg-primary-500 transition-colors duration-300"
    routerLink="/Cuidador/ejercicios/welcome"
  >
    Seleccionar
  </a> -->

  <!-- Contenedor de imagen -->
  <div *ngIf="!_pacienteData">
    <img
      src="../../../../../../assets/images/ejercicio/hora-ejercicio.png"
      alt="logo"
      class="h-auto w-auto"
    />
  </div>

  <!-- Contenedor de botones y sección adicional -->
  <div class="flex flex-col w-full items-center" *ngIf="_pacienteData">
    <!-- Botones (fila en pantallas grandes, columna en móviles) -->
    <div
      *ngIf="vibilitiCategoria"
      class="bg-gray-100 p-4 rounded-lg shadow-md flex items-center space-x-4"
    >
      <img
        src="../../../../../assets/images/logo/LOGOTIPO.ico"
        alt="Paciente"
        class="w-16 h-16 rounded-full shadow-md"
      />
      <div>
        <h2 class="text-lg font-semibold text-gray-800">
          {{ _pacienteData[0]?.nombre }}
          {{ _pacienteData[0]?.apellido }}
        </h2>
        <p class="text-gray-600 text-sm">
          Edad: {{ _pacienteData[0]?.edad }} años | Género:
          {{ _pacienteData[0]?.genero }}
        </p>
      </div>
    </div>
    <div class="flex flex-wrap justify-center gap-4 w-full md:flex-row">
      <!-- Botón Signos Vitales -->
      <button
        (click)="vibilitiCategoria = vibilitiCategoria = false"
        type="button"
        class="border-2 border-blue-500 text-blue-500 font-medium rounded-lg text-sm px-4 py-2 flex items-center space-x-2 transition duration-300 hover:bg-blue-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        <i class="fas fa-heartbeat"></i>
        <span>Signos Vitales del Paciente</span>
      </button>

      <!-- Botón Categoría -->
      <button
        type="button"
        (click)="vibilitiCategoria = vibilitiCategoria = true"
        class="border-2 border-green-500 text-green-500 font-medium rounded-lg text-sm px-4 py-2 flex items-center space-x-2 transition duration-300 hover:bg-green-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-300"
      >
        <i class="fas fa-layer-group"></i>
        <span>Categoría</span>
      </button>
    </div>

    <!-- Contenedor para información adicional -->
    <div
      *ngIf="!vibilitiCategoria"
      class="w-full max-h-[500px] overflow-y-auto mt-3 max-w-md bg-gradient-to-br from-blue-50 to-purple-50 p-6 rounded-2xl shadow-2xl mx-auto transform transition-transform duration-300"
    >
      <!-- Encabezado -->
      <h2 class="text-2xl font-bold text-neutral-900 mb-6 flex items-center">
        <i class="fas fa-user-injured text-3xl text-purple-600 mr-3"></i>
        <!-- Ícono de paciente -->
        Datos del Paciente
      </h2>

      <!-- Datos del paciente -->
      <div class="flex flex-col space-y-4 text-gray-700">
        <!-- ID -->
        <div class="items-center bg-white p-3 rounded-lg shadow-sm hidden">
          <i class="fas fa-id-card text-purple-500 mr-3"></i>
          <!-- Ícono de ID -->
          <p>
            <span class="font-bold"> ID:</span>
            {{ _pacienteData[0]?.id_paciente }}
          </p>
        </div>

        <!-- Nombre -->
        <div class="flex items-center bg-white p-3 rounded-lg shadow-sm">
          <i class="fas fa-user text-purple-500 mr-3"></i>
          <!-- Ícono de usuario -->
          <p>
            <span class="font-bold">Nombre:</span>
            {{ _pacienteData[0]?.nombre }}
          </p>
        </div>

        <!-- Apellido -->
        <div class="flex items-center bg-white p-3 rounded-lg shadow-sm">
          <i class="fas fa-user-tag text-purple-500 mr-3"></i>
          <!-- Ícono de apellido -->
          <p>
            <span class="font-bold">Apellido:</span>
            {{ _pacienteData[0]?.apellido }}
          </p>
        </div>

        <!-- Edad -->
        <div class="flex items-center bg-white p-3 rounded-lg shadow-sm">
          <i class="fas fa-birthday-cake text-purple-500 mr-3"></i>
          <!-- Ícono de cumpleaños -->
          <p>
            <span class="font-bold"> Edad:</span>
            {{ _pacienteData[0]?.edad }} años
          </p>
        </div>

        <!-- Género -->
        <div class="flex items-center bg-white p-3 rounded-lg shadow-sm">
          <i class="fas fa-venus-mars text-purple-500 mr-3"></i>
          <!-- Ícono de género -->
          <p>
            <span class="font-bold"> Género:</span>
            {{ _pacienteData[0]?.genero }}
          </p>
        </div>

        <!-- Fecha y Hora -->
        <div class="grid grid-cols-2 gap-3">
          <div class="flex items-center bg-white p-3 rounded-lg shadow-sm">
            <i class="fas fa-calendar-day text-purple-500 mr-3"></i>
            <!-- Ícono de fecha -->
            <p>
              <span class="font-bold">Fecha:</span>
              {{ _pacienteData[0]?.fecha }}
            </p>
          </div>
          <div class="flex items-center bg-white p-3 rounded-lg shadow-sm">
            <i class="fas fa-clock text-purple-500 mr-3"></i>
            <!-- Ícono de hora -->
            <p>
              <span class="font-bold">Hora:</span>
              {{ _pacienteData[0]?.hora }}
            </p>
          </div>
        </div>
      </div>

      <!-- Separador -->
      <hr class="my-6 border-gray-300" />

      <!-- Signos Vitales -->
      <h3 class="text-2xl font-bold text-neutral-900 mb-6 flex items-center">
        <i class="fas fa-heartbeat text-3xl text-red-600 mr-3"></i>
        <!-- Ícono de signos vitales -->
        Signos Vitales
      </h3>

      <div class="grid grid-cols-2 gap-4 text-gray-700">
        <!-- Presión Sistólica -->
        <div class="flex items-center bg-white p-3 rounded-lg shadow-sm">
          <i class="fas fa-tachometer-alt text-red-500 mr-3"></i>
          <!-- Ícono de presión -->
          <p>
            <span class="font-bold">Sistólica:</span>
            {{ _pacienteData[0]?.presion_arterial?.sistolica }} mmHg
          </p>
        </div>

        <!-- Presión Diastólica -->
        <div class="flex items-center bg-white p-3 rounded-lg shadow-sm">
          <i class="fas fa-tachometer-alt text-red-500 mr-3"></i>
          <!-- Ícono de presión -->
          <p>
            <span class="font-bold">Diastólica:</span>
            {{ _pacienteData[0]?.presion_arterial?.diastolica }} mmHg
          </p>
        </div>

        <!-- Frecuencia Cardíaca -->
        <div class="flex items-center bg-white p-3 rounded-lg shadow-sm">
          <i class="fas fa-heart text-red-500 mr-3"></i>
          <!-- Ícono de corazón -->
          <p>
            <span class="font-bold">Cardíaca:</span>
            {{ _pacienteData[0]?.frecuencia_cardiaca }} bpm
          </p>
        </div>

        <!-- Frecuencia Respiratoria -->
        <div class="flex items-center bg-white p-3 rounded-lg shadow-sm">
          <i class="fas fa-lungs text-red-500 mr-3"></i>
          <!-- Ícono de pulmones -->
          <p>
            <span class="font-bold"> Respiratoria:</span>
            {{ _pacienteData[0]?.frecuencia_respiratoria }} rpm
          </p>
        </div>

        <!-- Temperatura -->
        <div class="flex items-center bg-white p-3 rounded-lg shadow-sm">
          <i class="fas fa-thermometer-half text-red-500 mr-3"></i>
          <!-- Ícono de termómetro -->
          <p>
            <span class="font-bold"> Temperatura:</span>
            {{ _pacienteData[0]?.temperatura }}°C
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="vibilitiCategoria" class="">
      <div
        *ngIf="!isLoading; else loadingSpinner"
        class="flex justify-center bg-neutral-100 p-4"
      >
        <div class="bg-white rounded-xl p-4 relative">
          <!-- Título y Botón de Información -->
          <div class="flex items-center justify-center mb-6 relative">
            <!-- Título -->
            <h1
              class="text-lg md:text-2xl font-bold text-center text-primary-titulo mr-3"
            >
              🧠 Categorías de Estimulación
            </h1>

            <!-- Botón Circular con Animación -->
            <button
              class="w-8 h-8 bg-primary-400 rounded-full flex items-center justify-center animate-bounce hover:bg-primary-500 transition-all duration-300 shadow-lg hover:shadow-xl relative"
              (click)="toggleInfo()"
            >
              <!-- Ícono más grande y moderno -->
              <span class="text-white text-2xl font-bold">!</span>
              <!-- Efecto de brillo al hacer hover -->
              <div
                class="absolute inset-0 rounded-full bg-white opacity-0 hover:opacity-20 transition-opacity duration-300"
              ></div>
            </button>
          </div>

          <!-- Ventana de Información (Flotante) -->
          <div
            *ngIf="showInfo"
            class="absolute top-16 right-0 bg-white p-4 rounded-lg shadow-lg z-10 w-64"
          >
            <p class="text-sm text-neutral-700 mb-4">
              {{ descripcionServicio }}
            </p>
            <button
              class="bg-primary-400 text-white px-3 py-1 rounded-lg hover:bg-primary-500 transition-colors duration-300"
              (click)="toggleInfo()"
            >
              Cerrar
            </button>
          </div>

          <!-- Contenedor con scroll -->
          <div
            class="min-h-[200px] overflow-y-auto scrollbar-thin scrollbar-thumb-primary-400 scrollbar-track-gray-200 p-2"
          >
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6">
              <div
                *ngFor="let categoria of categoriasFiltradas"
                class="bg-secondary-50 rounded-lg p-5 text-center cursor-pointer hover:bg-secondary-100 transition-all duration-300 transform hover:-translate-y-2 shadow-md"
              >
                <!-- Imagen con tamaño más grande y bordes redondeados -->
                <img
                  [src]="categoria.src"
                  [alt]="categoria.nombre"
                  class="w-24 h-24 sm:w-28 sm:h-28 mx-auto mb-3 rounded-full object-cover"
                />
                <h2 class="text-xl font-semibold text-neutral-800">
                  {{ categoria.nombre }}
                </h2>
                <p class="text-sm text-neutral-600 mb-4">
                  {{ categoria.explicacion }}
                </p>
                <button
                  class="bg-primary-400 text-black px-4 py-2 rounded-lg hover:bg-primary-500 transition-colors duration-300"
                  (click)="seleccionarCategoria(categoria.nombre)"
                >
                  Seleccionar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #loadingSpinner>
        <div class="flex items-center justify-center">
          <div class="flex items-center justify-center">
            <div
              class="w-14 h-14 my-10 border-t-4 border-warning-600 border-solid rounded-full animate-spin"
            ></div>
            <div
              class="ml-4 font-poppins text-lg text-neutral-900 font-semibold"
            >
              Cargando...
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <!-- Mensaje si no hay datos -->
  </div>
  <app-modal-main-generate
    class=""
    *ngIf="statusModal"
    [_pacienteGenerate]="this._pacienteCategoria"
    (cerrarModal)="cerrarModal()"
  ></app-modal-main-generate>
</div>
