<!-- Main modal -->
<div
  id="crud-modal"
  tabindex="-1"
  *ngIf="statusModal"
  aria-hidden="true"
  class="overflow-y-auto overflow-x-hidden flex z-50 justify-center fixed top-0 right-1 w-full max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-lg">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200"
      >
        <h3 class="text-lg font-semibold text-primary-titulo">
          {{ tituloModal }}
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-primary-500 dark:hover:text-white"
          data-modal-toggle="crud-modal"
          (click)="closeModal()"
        >
          <i class="fa-solid fa-xmark"></i>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form
        class="p-4 md:p-5"
        (ngSubmit)="onSubmit()"
        [formGroup]="registerForm"
      >
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2 relative">
            <input
              type="text"
              name="name"
              formControlName="name"
              id="name"
              class="bg-transparent w-full h-12 px-4 text-gray-900 text-sm border border-warning-600 rounded-2xl transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] focus:outline-none focus:border-blue-600 peer"
              placeholder=" "
              required
              [ngClass]="{ 'border-blue-600': registerForm.get('name')?.valid }"
            />
            <label
              for="name"
              class="absolute left-4 text-gray-500 pointer-events-none transform translate-y-3 transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] peer-focus:transform peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:bg-white peer-valid:transform peer-valid:-translate-y-3 peer-valid:scale-75 peer-valid:text-blue-600 peer-valid:bg-white px-1"
            >
              Nombre del paciente
            </label>

            <div
              class="text-red-500"
              *ngIf="
                registerForm.get('name')?.hasError('required') &&
                registerForm.get('name')?.touched
              "
            >
              El nombre del paciente es obligatorio.
            </div>
          </div>

          <div class="col-span-2 relative">
            <input
              type="text"
              name="lastname"
              formControlName="lastname"
              id="lastname"
              class="bg-transparent w-full h-12 px-4 text-gray-900 text-sm border border-warning-600 rounded-2xl transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] focus:outline-none focus:border-blue-600 peer"
              placeholder=" "
              required
              [ngClass]="{
                'border-blue-600': registerForm.get('lastname')?.valid
              }"
            />
            <label
              for="lastname"
              class="absolute left-4 text-gray-500 pointer-events-none transform translate-y-3 transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] peer-focus:transform peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:bg-white peer-valid:transform peer-valid:-translate-y-3 peer-valid:scale-75 peer-valid:text-blue-600 peer-valid:bg-white px-1"
            >
              Apellido del paciente
            </label>

            <div
              class="text-red-500"
              *ngIf="
                registerForm.get('lastname')?.hasError('required') &&
                registerForm.get('lastname')?.touched
              "
            >
              El apellido del paciente es obligatorio.
            </div>
          </div>

          <div class="col-span-2 sm:col-span-1">
            <label
              for="age"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Edad</label
            >
            <input
              type="number"
              name="age"
              formControlName="age"
              id="age"
              class="bg-gray-50 border border-warning-600 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:placeholder-gray-400"
              placeholder="0"
              required=""
            />
            <div
              class="text-red-500"
              *ngIf="
                registerForm.get('age')?.hasError('required') &&
                registerForm.get('age')?.touched
              "
            >
              El nombre del paciente es obligatorio.
            </div>
          </div>

          <div class="col-span-2 sm:col-span-1">
            <label
              for="gender"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Genero</label
            >
            <select
              id="gender"
              formControlName="gender"
              class="bg-gray-50 focus:border-blue-600 peer border-warning-600 border text-gray-900 text-sm rounded-lg focus:ring-primary-500 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-primary-500"
            >
              <option selected="">Seleccionar genero</option>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
            <div
              class="text-red-500"
              *ngIf="
                registerForm.get('gender')?.hasError('required') &&
                registerForm.get('gender')?.touched
              "
            >
              El genero del paciente es obligatorio.
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="w-full inline-flex items-center justify-center bg-primary-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:hover:bg-primary-500 dark:focus:ring-warning-600"
          [disabled]="registerForm.invalid"
        >
          <i class="{{ icon }}"></i>
          <span class="pl-3">{{ buttonModal }}</span>
        </button>
      </form>
    </div>
  </div>
</div>

<app-notifications
  [statusnotification]="statusnotification"
  [title]="notificationTitle"
  [message]="notificationMessage"
  [type]="notificationType"
></app-notifications>
<div *ngIf="statusModal" class="fixed inset-0 bg-black opacity-50"></div>
