<div class="w-full h-screen flex flex-col md:flex-row overflow-hidden">
  <div class="w-full md:w-1/2 flex flex-col justify-between">
    <div
      class="flex justify-center md:justify-start pt-12 px-8 md:px-24 lg:px-32"
    >
      <a
        href="/"
        class="text-black font-bold text-lg flex flex-row items-center gap-1"
      >
        <img
          src="../../../../assets/images/logo/LOGOTIPO.ico"
          alt="logo"
          class="h-12 mr-1"
        />
        <p class="md:text-2xl text-primary-titulo">VitalMindAI</p>
      </a>
    </div>

    <div
      class="flex flex-col justify-center md:justify-center my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32"
    >
      <h1 class="font-poppins font-semibold text-center text-2xl md:text-3xl">
        ¡Únete a nosotros hoy!
      </h1>
      <h5 class="font-poppins mt-4 text-center">
        Regístrate completando la siguiente información.
      </h5>
      <form
        class="flex flex-col pt-3"
        (ngSubmit)="onSubmit()"
        [formGroup]="registerForm"
      >
        <div class="relative pt-4">
          <input
            type="text"
            id="name"
            formControlName="names"
            placeholder=" "
            required
            class="bg-transparent w-full h-12 px-4 text-gray-900 text-sm border border-gray-300 rounded-2xl transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] focus:outline-none focus:border-blue-600 peer"
            [ngClass]="{ 'border-blue-600': registerForm.get('names')?.valid }"
          />
          <label
            for="name"
            class="absolute left-4 text-gray-500 pointer-events-none transform translate-y-3 transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:bg-white peer-valid:-translate-y-3 peer-valid:scale-75 peer-valid:text-blue-600 peer-valid:bg-white px-1"
          >
            Nombre
          </label>
          <div
            class="text-red-500 text-sm mt-1"
            *ngIf="
              registerForm.get('names')?.hasError('required') &&
              registerForm.get('names')?.touched
            "
          >
            El nombre del usuario es obligatorio.
          </div>
        </div>

        <div class="relative pt-4">
          <input
            type="text"
            id="lastNames"
            formControlName="lastNames"
            placeholder=" "
            required
            class="bg-transparent w-full h-12 px-4 text-gray-900 text-sm border border-gray-300 rounded-2xl transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] focus:outline-none focus:border-blue-600 peer"
            [ngClass]="{
              'border-blue-600': registerForm.get('lastNames')?.valid
            }"
          />
          <label
            for="lastNames"
            class="absolute left-4 text-gray-500 pointer-events-none transform translate-y-3 transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:bg-white peer-valid:-translate-y-3 peer-valid:scale-75 peer-valid:text-blue-600 peer-valid:bg-white px-1"
          >
            Apellido
          </label>
          <div
            class="text-red-500 text-sm mt-1"
            *ngIf="
              registerForm.get('lastNames')?.hasError('required') &&
              registerForm.get('lastNames')?.touched
            "
          >
            El apellido del usuario es obligatorio.
          </div>
        </div>

        <div class="relative pt-4">
          <input
            type="number"
            id="experience"
            formControlName="experience"
            placeholder=" "
            required
            class="bg-transparent w-full h-12 px-4 text-gray-900 text-sm border border-gray-300 rounded-2xl transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] focus:outline-none focus:border-blue-600 peer"
            [ngClass]="{
              'border-blue-600': registerForm.get('experience')?.valid
            }"
          />
          <label
            for="experience"
            class="absolute left-4 text-gray-500 pointer-events-none transform translate-y-3 transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:bg-white peer-valid:-translate-y-3 peer-valid:scale-75 peer-valid:text-blue-600 peer-valid:bg-white px-1"
          >
            Experiencia en años
          </label>
          <div
            class="text-red-500 text-sm mt-1"
            *ngIf="
              registerForm.get('experience')?.hasError('required') &&
              registerForm.get('experience')?.touched
            "
          >
            La experiencia del usuario es obligatoria.
          </div>
        </div>

        <div class="relative pt-4">
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder=" "
            required
            class="bg-transparent w-full h-12 px-4 text-gray-900 text-sm border border-gray-300 rounded-2xl transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] focus:outline-none focus:border-blue-600 peer"
            [ngClass]="{ 'border-blue-600': registerForm.get('email')?.valid }"
          />
          <label
            for="email"
            class="absolute left-4 text-gray-500 pointer-events-none transform translate-y-3 transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:bg-white peer-valid:-translate-y-3 peer-valid:scale-75 peer-valid:text-blue-600 peer-valid:bg-white px-1"
          >
            Email
          </label>
          <div
            class="text-red-500 text-sm mt-1"
            *ngIf="
              registerForm.get('email')?.hasError('required') &&
              registerForm.get('email')?.touched
            "
          >
            El email del usuario es obligatorio.
          </div>
          <div
            class="text-red-500 text-sm mt-1"
            *ngIf="
              registerForm.get('email')?.hasError('email') &&
              registerForm.get('email')?.touched
            "
          >
            El formato del email es incorrecto.
          </div>
        </div>

        <div class="relative pt-4">
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder=" "
            required
            class="bg-transparent w-full h-12 px-4 text-gray-900 text-sm border border-gray-300 rounded-2xl transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] focus:outline-none focus:border-blue-600 peer"
            [ngClass]="{
              'border-blue-600': registerForm.get('password')?.valid
            }"
          />
          <label
            for="password"
            class="absolute left-4 text-gray-500 pointer-events-none transform translate-y-3 transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:bg-white peer-valid:-translate-y-3 peer-valid:scale-75 peer-valid:text-blue-600 peer-valid:bg-white px-1"
          >
            Contraseña
          </label>
          <div
            class="text-red-500 text-sm mt-1"
            *ngIf="
              registerForm.get('password')?.hasError('required') &&
              registerForm.get('password')?.touched
            "
          >
            La contraseña del usuario es obligatoria.
          </div>
        </div>

        <input
          type="submit"
          [disabled]="registerForm.invalid"
          value="Regístrese"
          class="bg-primary-400 cursor-pointer text-black font-semibold text-lg rounded-full py-2 px-4 hover:bg-primary-500 mt-8"
        />
      </form>
      <div class="text-center pt-12 pb-12">
        <p>
          ¿Ya tienes una cuenta?

          <a
            routerLink="/Auth/login"
            class="text-warning-700 underline font-semibold"
            >Inicia sesión aquí.</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="hidden md:block md:w-1/2">
    <img
      class="h-full w-full object-cover"
      src="../../../../assets/images/sign-up/register_.png"
      alt="Registro"
    />
  </div>
</div>
<app-notifications
  [statusnotification]="statusnotification"
  [title]="notificationTitle"
  [message]="notificationMessage"
  [type]="notificationType"
></app-notifications>
