<div class="w-full relative z-10 backdrop-blur-3xl">
  <div class="w-full max-w-7xl mx-auto px-2 lg:px-8">
    <h2 class="font-manrope text-3xl leading-tight text-gray-900 mb-1.5">
      Upcoming Events
    </h2>
    <p class="text-lg font-normal text-gray-600 mb-8">Don’t miss schedule</p>

    <!-- Contenedor con barra de desplazamiento -->
    <div class="flex gap-5 flex-col max-h-[600px] overflow-y-auto pr-2">
      <!-- Evento 1 -->
      <div class="p-6 rounded-xl bg-white">
        <label class="hidden">id_paciente_1</label>
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center gap-2.5">
            <span class="w-2.5 h-2.5 rounded-full bg-purple-600"></span>
            <p class="text-base font-medium text-gray-900">
              Jan 10, 2020 - 10:00 - 11:00
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <h6 class="text-xl leading-8 font-semibold text-black mb-1">
            Meeting with friends
          </h6>
          <i
            class="fa-solid fa-heart-circle-plus text-blue-500 text-3xl animate-pulse"
          ></i>
          <!-- No Actualizado -->
        </div>
        <p class="text-base font-normal text-gray-600">
          Meet-Up for Travel Destination Discussion
        </p>
      </div>

      <!-- Evento 2 -->
      <div class="p-6 rounded-xl bg-white">
        <label class="hidden">id_paciente_2</label>
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center gap-2.5">
            <span class="w-2.5 h-2.5 rounded-full bg-sky-400"></span>
            <p class="text-base font-medium text-gray-900">
              Jan 10, 2020 - 05:40 - 13:00
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <h6 class="text-xl leading-8 font-semibold text-black mb-1">
            Visiting online course
          </h6>
          <i
            class="fa-solid fa-heart-circle-exclamation text-red-500 text-3xl animate-bounce"
          ></i>
          <!-- Emergencia -->
        </div>
        <p class="text-base font-normal text-gray-600">
          Check updates for design course
        </p>
      </div>

      <!-- Evento 3 -->
      <div class="p-6 rounded-xl bg-white">
        <label class="hidden">id_paciente_3</label>
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center gap-2.5">
            <span class="w-2.5 h-2.5 rounded-full bg-emerald-600"></span>
            <p class="text-base font-medium text-gray-900">
              Jan 14, 2020 - 10:00 - 11:00
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <h6 class="text-xl leading-8 font-semibold text-black mb-1">
            Development meet
          </h6>
          <i class="fa-solid fa-heart-pulse text-green-500 text-3xl"></i>
          <!-- Estable -->
        </div>
        <p class="text-base font-normal text-gray-600">
          Discussion with developer for upcoming project
        </p>
      </div>
      <div class="p-6 rounded-xl bg-white">
        <label class="hidden">id_paciente_3</label>
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center gap-2.5">
            <span class="w-2.5 h-2.5 rounded-full bg-emerald-600"></span>
            <p class="text-base font-medium text-gray-900">
              Jan 14, 2020 - 10:00 - 11:00
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <h6 class="text-xl leading-8 font-semibold text-black mb-1">
            Development meet
          </h6>
          <i class="fa-solid fa-heart-pulse text-green-500 text-3xl"></i>
          <!-- Estable -->
        </div>
        <p class="text-base font-normal text-gray-600">
          Discussion with developer for upcoming project
        </p>
      </div>
      <div class="p-6 rounded-xl bg-white">
        <label class="hidden">id_paciente_3</label>
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center gap-2.5">
            <span class="w-2.5 h-2.5 rounded-full bg-emerald-600"></span>
            <p class="text-base font-medium text-gray-900">
              Jan 14, 2020 - 10:00 - 11:00
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <h6 class="text-xl leading-8 font-semibold text-black mb-1">
            Development meet
          </h6>
          <i class="fa-solid fa-heart-pulse text-green-500 text-3xl"></i>
          <!-- Estable -->
        </div>
        <p class="text-base font-normal text-gray-600">
          Discussion with developer for upcoming project
        </p>
      </div>
      <div class="p-6 rounded-xl bg-white">
        <label class="hidden">id_paciente_3</label>
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center gap-2.5">
            <span class="w-2.5 h-2.5 rounded-full bg-emerald-600"></span>
            <p class="text-base font-medium text-gray-900">
              Jan 14, 2020 - 10:00 - 11:00
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <h6 class="text-xl leading-8 font-semibold text-black mb-1">
            Development meet
          </h6>
          <i class="fa-solid fa-heart-pulse text-green-500 text-3xl"></i>
          <!-- Estable -->
        </div>
        <p class="text-base font-normal text-gray-600">
          Discussion with developer for upcoming project
        </p>
      </div>
      <div class="p-6 rounded-xl bg-white">
        <label class="hidden">id_paciente_3</label>
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center gap-2.5">
            <span class="w-2.5 h-2.5 rounded-full bg-emerald-600"></span>
            <p class="text-base font-medium text-gray-900">
              Jan 14, 2020 - 10:00 - 11:00
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <h6 class="text-xl leading-8 font-semibold text-black mb-1">
            Development meet
          </h6>
          <i class="fa-solid fa-heart-pulse text-green-500 text-3xl"></i>
          <!-- Estable -->
        </div>
        <p class="text-base font-normal text-gray-600">
          Discussion with developer for upcoming project
        </p>
      </div>
      <div class="p-6 rounded-xl bg-white">
        <label class="hidden">id_paciente_3</label>
        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center gap-2.5">
            <span class="w-2.5 h-2.5 rounded-full bg-emerald-600"></span>
            <p class="text-base font-medium text-gray-900">
              Jan 14, 2020 - 10:00 - 11:00
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <h6 class="text-xl leading-8 font-semibold text-black mb-1">
            Development meet
          </h6>
          <i class="fa-solid fa-heart-pulse text-green-500 text-3xl"></i>
          <!-- Estable -->
        </div>
        <p class="text-base font-normal text-gray-600">
          Discussion with developer for upcoming project
        </p>
      </div>
    </div>
  </div>
</div>
