<!-- Main modal -->
<div
  id="crud-modal"
  tabindex="-1"
  *ngIf="statusModal"
  aria-hidden="true"
  class="overflow-y-auto overflow-x-hidden flex z-50 justify-center fixed top-0 right-1 w-full max-h-full"
>
  <div class="relative p-4 w-full max-w-3xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-lg">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200"
      >
        <h3 class="text-lg font-semibold text-primary-titulo">
          {{ tituloModal }}
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-primary-500 dark:hover:text-white"
          data-modal-toggle="crud-modal"
          (click)="closeModal()"
        >
          <i class="fa-solid fa-xmark"></i>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form
        action="#"
        class="p-4 md:p-5"
        (ngSubmit)="onSubmit()"
        [formGroup]="registerForm"
      >
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div>
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Nombre</label
            >
            <input
              type="text"
              name="name"
              readonly
              formControlName="name"
              id="name"
              class="bg-white w-full pr-11 h-10 pl-3 py-2 placeholder:text-slate-400 text-slate-700 text-sm border border-warning-600 rounded transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md"
              placeholder="Nombre del paciente"
              required=""
            />
            <div
              class="text-red-500"
              *ngIf="
                registerForm.get('name')?.hasError('required') &&
                registerForm.get('name')?.touched
              "
            >
              El nombre del paciente es obligatorio.
            </div>
          </div>
          <div>
            <label
              for="lastname"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Apellido</label
            >
            <input
              type="text"
              name="lastname"
              formControlName="lastname"
              readonly
              id="lastname"
              class="bg-white w-full pr-11 h-10 pl-3 py-2 placeholder:text-slate-400 text-slate-700 text-sm border border-warning-600 rounded transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md"
              placeholder="Apellido del paciente"
              required=""
            />
            <div
              class="text-red-500"
              *ngIf="
                registerForm.get('lastname')?.hasError('required') &&
                registerForm.get('lastname')?.touched
              "
            >
              El apellido del paciente es obligatorio.
            </div>
          </div>

          <app-dropdown
            dropdownTitle="Ingrese Presion Arterial"
            [fields]="presionArterialFields"
          ></app-dropdown>

          <app-dropdown
            dropdownTitle="Ingrese Frecuencia Cardiaca"
            [fields]="frecuenciaCardiacaFields"
            (fieldChange)="onFieldChange($event)"
          ></app-dropdown>
          <app-dropdown
            dropdownTitle="Ingrese Frecuencia Respiratoria"
            [fields]="frecuenciaRespiratoriaFields"
            (fieldChange)="onFieldChange($event)"
          ></app-dropdown>
          <app-dropdown
            dropdownTitle="Ingrese la Temperatura"
            [fields]="temperaturaFields"
            (fieldChange)="onFieldChange($event)"
          ></app-dropdown>
        </div>

        <div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
          <button
            type="submit"
            class="w-full inline-flex items-center justify-center bg-primary-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:hover:bg-primary-500 dark:focus:ring-warning-600 cursor-pointer"
            [disabled]="registerForm.invalid"
          >
            <i class="{{ icon }}"></i>
            <span class="pl-3">{{ buttonModal }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="statusModal" class="fixed inset-0 bg-black opacity-50"></div>

<app-notifications
  [statusnotification]="statusnotification"
  [title]="notificationTitle"
  [message]="notificationMessage"
  [type]="notificationType"
></app-notifications>
