<div class="w-full flex flex-wrap justify-between items-center mb-3 mt-1 pl-3">
  <!-- Título y descripción -->
  <div class="mb-3 lg:mb-0">
    <h3 class="text-lg font-bold text-slate-800">
      Pacientes del Centro Gerontologico
    </h3>
    <p class="text-slate-500">Resumen de los pacientes.</p>
  </div>
</div>

<!-- Campo de búsqueda y botones -->
<div class="w-full flex flex-wrap items-center justify-between mb-4">
  <!-- Campo de búsqueda -->
  <div class="relative w-full lg:w-auto flex-grow max-w-sm min-w-[200px] mb-4">
    <input
      class="bg-white w-full pr-11 h-10 pl-3 py-2 placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md"
      placeholder="Buscar por el nombre del paciente..."
    />
    <button
      class="absolute h-8 w-8 right-1 top-1 px-2 flex items-center bg-white rounded"
      type="button"
    >
      <i class="fa-solid fa-magnifying-glass" style="color: #939495"></i>
    </button>
  </div>

  <!-- Botones -->
  <div class="flex flex-wrap gap-4 pl-4 w-full md:w-auto">
    <!-- Botón "Añadir Paciente" -->
    <div class="relative w-full md:w-auto">
      <label
        for="fileSubmit"
        class="w-full md:w-auto px-5 py-2.5 flex justify-center gap-3 text-sm font-medium text-warning-600 border-warning-700 border items-center hover:bg-primary-400 hover:text-black hover:border-white rounded-lg text-center cursor-pointer"
      >
        <i class="fa-solid fa-user-plus"></i>
        Añadir Paciente
      </label>
      <input
        id="fileSubmit"
        type="submit"
        (click)="abrirModal(null, 'add')"
        class="hidden"
      />
    </div>
  </div>
</div>

<div
  class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border"
>
  <table class="w-full text-left table-auto min-w-max">
    <thead>
      <tr class="text-center">
        <th
          class="hidden p-4 border-b font-poppinswa border-slate-300 bg-slate-50"
        >
          <p class="text-sm font-normal leading-none text-slate-500">_id</p>
        </th>
        <th class="p-4 border-b justify-start border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">
            Nombre
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">
            Apellido
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">Edad</p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">
            Genero
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">
            Signos Vitales
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">
            Referencias
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300"></th>
      </tr>
    </thead>

    <tbody *ngIf="!isLoading; else loadingSpinner">
      <tr
        *ngFor="let paciente of displayedPacientes"
        class="hover:bg-slate-50 border-b border-accent-200"
      >
        <td class="p-4 py-5 hidden">{{ paciente.id }}</td>
        <td class="p-5 py-5 text-center">
          {{ paciente.nombre }}
        </td>
        <td class="p-4 py-2 text-center">{{ paciente.apellido }}</td>
        <td class="p-6 py-2 text-center">{{ paciente.edad }}</td>
        <td class="p-5 py-2 text-center">{{ paciente.genero }}</td>
        <td class="justify-items-center">
          <div
            class="w-48 flex flex-wrap items-center justify-center py-2 pl-4 pr-4 rounded-lg text-sm font-medium border-solid border"
            [ngClass]="{
              'bg-green-100 border-green-600 text-green-800 group':
                paciente.signos_vitales === 'Actualizado',

              'border-red-600 text-red-500 group bg-red-100':
                paciente.signos_vitales === 'Pendiente'
            }"
          >
            <p class="flex flex-row items-center mr-auto gap-x-2">
              <svg
                *ngIf="paciente.signos_vitales === 'Pendiente'"
                stroke="currentColor"
                fill="none"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke-linecap="round"
                stroke-linejoin="round"
                height="28"
                width="28"
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"
                ></path>
                <path d="M12 9v4"></path>
                <path d="M12 17h.01"></path>
              </svg>
              <svg
                *ngIf="paciente.signos_vitales === 'Actualizado'"
                stroke="currentColor"
                fill="none"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke-linecap="round"
                stroke-linejoin="round"
                height="28"
                width="28"
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M12 20h9"></path>
                <path
                  d="M16.5 3.5a2.1 2.1 0 0 1 3 3L7 19l-4 1 1-4 12.5-12.5z"
                ></path>
              </svg>

              {{ paciente.signos_vitales }}
            </p>
          </div>
        </td>
        <td class="justify-items-center">
          <div
            class="w-48 flex flex-wrap items-center justify-center py-2 pl-4 pr-4 rounded-lg text-sm font-medium border-solid border"
            [ngClass]="{
              'bg-green-100 border-green-600 text-green-800 group':
                paciente.referenciaSV === 'Registrado',

              'border-red-600 text-red-500 group bg-red-100':
                paciente.referenciaSV === 'Pendiente'
            }"
          >
            <p class="flex flex-row items-center mr-auto gap-x-2">
              <svg
                *ngIf="paciente.referenciaSV === 'Pendiente'"
                stroke="currentColor"
                fill="none"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke-linecap="round"
                stroke-linejoin="round"
                height="28"
                width="28"
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"
                ></path>
                <path d="M12 9v4"></path>
                <path d="M12 17h.01"></path>
              </svg>

              <svg
                *ngIf="paciente.referenciaSV === 'Registrado'"
                stroke="currentColor"
                fill="none"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke-linecap="round"
                stroke-linejoin="round"
                height="28"
                width="28"
                class="h-7 w-7"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M9 12l2 2 4-4"></path>
                <path
                  d="M14 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V8z"
                ></path>
                <path d="M14 2v6h6"></path>
              </svg>

              {{ paciente.referenciaSV }}
            </p>
          </div>
        </td>

        <td class="p-4 py-5 flex gap-3">
          <!-- Botón Editar Paciente -->
          <!-- Botón Editar con Efecto Especial -->
          <button
            class="w-10 h-10 rounded-full bg-secondary-100 border-none font-semibold flex items-center justify-center shadow-lg cursor-pointer transition-all duration-300 overflow-hidden relative text-warning-600 hover:text-white hover:bg-primary-500 hover:rounded-xl group"
            (click)="abrirModal(paciente, 'edit')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-[17px] transition-all duration-300 group-hover:w-[20px] group-hover:rotate-[15deg]"
            >
              <path
                d="M16.862 3.487a2.5 2.5 0 0 1 3.54 3.535L7.782 19.643l-4.495 1.12a1 1 0 0 1-1.21-1.212l1.12-4.493 12.665-12.57Z"
              />
              <path
                d="M19.4 2.6a2.5 2.5 0 0 0-3.535 0L2.9 15.564l-.942 3.769a1 1 0 0 0 1.21 1.21l3.769-.942L19.4 6.135a2.5 2.5 0 0 0 0-3.535Z"
              />
            </svg>
          </button>

          <!-- Botón Eliminar Paciente -->

          <button
            class="w-10 h-10 rounded-full bg-secondary-100 border-none font-semibold flex items-center justify-center shadow-lg cursor-pointer transition-all duration-300 overflow-hidden relative text-warning-600 hover:text-white hover:bg-red-500 hover:rounded-xl group"
            (click)="showDeleteNotification(paciente)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-[17px] transition-all duration-300 group-hover:w-[20px] group-hover:rotate-[360deg]"
              viewBox="-0.5 -0.5 16 16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M3 6h18"></path>
              <path d="M8 6v-2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
              <path d="M19 6l-1 14a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2L5 6"></path>
              <path d="M10 11v6"></path>
              <path d="M14 11v6"></path>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loadingSpinner>
  <div class="flex items-center justify-center">
    <div class="flex items-center justify-center">
      <div
        class="w-14 h-14 my-10 border-t-4 border-warning-600 border-solid rounded-full animate-spin"
      ></div>
      <div class="ml-4 font-poppins text-lg text-neutral-900 font-semibold">
        Cargando...
      </div>
    </div>
  </div>
</ng-template>

<app-pagination
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  [totalItems]="pacientes.length"
  (pageChanged)="onPageChange($event)"
></app-pagination>

<app-modal-paciente
  [statusModal]="statusModal"
  [actionModal]="actionModal"
  [pacienteData]="pacienteData"
  (closeModalEvent)="closeModal()"
  (userIdEvent)="onUserIdReceived($event)"
>
</app-modal-paciente>

<app-notifications
  [statusnotification]="statusnotification"
  [title]="notificationTitle"
  [message]="notificationMessage"
  [type]="notificationType"
  (deleteAction)="handleDeleteAction($event)"
></app-notifications>
