<!-- Notificación estándar -->
<div
  *ngIf="statusnotification && type !== 'delete'"
  role="alert"
  class="fixed top-4 right-4 sm:right-6 lg:right-8 flex w-full max-w-xs sm:max-w-sm lg:max-w-md px-4 py-4 text-base shadow-lg border rounded-lg text-black"
  [ngClass]="{
    'bg-green-100': type === 'success',
    'bg-red-100': type === 'error' || type === 'logout'
  }"
>
  <div class="shrink-0">
    <!-- Ícono para éxito -->
    <svg
      *ngIf="type === 'success'"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-6 h-6 text-green-600"
    >
      <path
        fill-rule="evenodd"
        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
        clip-rule="evenodd"
      ></path>
    </svg>

    <!-- Ícono para logout -->
    <svg
      *ngIf="type === 'logout'"
      class="h-7 w-7 text-red-500"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
      />
    </svg>

    <!-- Ícono para error -->
    <svg
      *ngIf="type === 'error'"
      class="h-7 w-7 text-red-500"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
  </div>
  <div class="ml-3 mr-12">
    <h5
      class="block text-sm md:text-lg font-semibold"
      [ngClass]="{
        'text-green-700': type === 'success',
        'text-red-900': type === 'error' || type === 'logout'
      }"
    >
      {{ title }}
    </h5>
    <p class="block mt-2 text-xs md:text-sm font-normal leading-relaxed">
      {{ message }}
    </p>
  </div>
</div>

<!-- Alerta de advertencia (Warning Alert) -->
<div
  *ngIf="statusnotification && type === 'delete'"
  class="w-full md:w-1/3 mx-auto fixed top-4 right-4 sm:right-6 lg:right-8"
>
  <div class="flex flex-col p-5 rounded-lg shadow bg-white">
    <div class="flex flex-col items-center text-center">
      <div class="inline-block p-4 bg-yellow-50 rounded-full">
        <svg
          class="w-12 h-12 fill-current text-yellow-500"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z"
          />
        </svg>
      </div>
      <h2 class="mt-2 font-semibold text-gray-800">{{ title }}</h2>
      <p class="mt-2 text-sm text-gray-600 leading-relaxed">
        {{ message }}
      </p>
    </div>

    <div class="flex items-center mt-3">
      <button
        class="flex-1 px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md"
        (click)="closeNotificationDelete()"
      >
        Cancelar
      </button>

      <button
        class="flex-1 px-4 py-2 ml-2 bg-primary-400 hover:bg-primary-500 text-black text-sm font-medium rounded-md"
        (click)="confirmDelete()"
      >
        Aceptar
      </button>
    </div>
  </div>
</div>
