<div class="w-full flex flex-wrap">
  <div class="w-full md:w-1/2 flex flex-col">
    <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
      <a
        href="/"
        class="text-black font-bold text-lg flex flex-row items-center gap-1"
      >
        <img
          src="../../../../assets/images/logo/LOGOTIPO.ico"
          alt="logo"
          class="h-12 mr-1"
        />
        <p class="md:text-2xl text-primary-titulo">VitalMindAI</p>
      </a>
    </div>

    <div
      class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32"
    >
      <h1 class="font-poppins font-semibold text-center text-2xl md:text-3xl">
        ¡Bienvenido nuevamente!
      </h1>
      <h5 class="font-poppins mt-4 text-center">
        Ingresa tus credenciales para acceder a tu cuenta
      </h5>
      <form
        class="flex flex-col pt-3 md:pt-8"
        [formGroup]="authForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- Email -->
        <div class="relative pt-4">
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder=" "
            required
            class="bg-transparent w-full h-12 px-4 text-gray-900 text-sm border border-gray-300 rounded-2xl transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] focus:outline-none focus:border-blue-600 peer"
            [ngClass]="{ 'border-blue-600': authForm.get('email')?.valid }"
          />
          <label
            for="email"
            class="absolute left-4 text-gray-500 pointer-events-none transform translate-y-3 transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:bg-white peer-valid:-translate-y-3 peer-valid:scale-75 peer-valid:text-blue-600 peer-valid:bg-white px-1"
          >
            Email del usuario
          </label>

          <!-- Errores -->
          <div
            class="text-red-500 text-sm mt-1"
            *ngIf="
              authForm.get('email')?.hasError('required') &&
              authForm.get('email')?.touched
            "
          >
            El email del usuario es obligatorio.
          </div>
          <div
            class="text-red-500 text-sm mt-1"
            *ngIf="
              authForm.get('email')?.hasError('email') &&
              authForm.get('email')?.touched
            "
          >
            El formato del email es incorrecto.
          </div>
        </div>

        <!-- Contraseña -->
        <div class="relative pt-4">
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder=" "
            required
            class="bg-transparent w-full h-12 px-4 text-gray-900 text-sm border border-gray-300 rounded-2xl transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] focus:outline-none focus:border-blue-600 peer"
            [ngClass]="{ 'border-blue-600': authForm.get('password')?.valid }"
          />
          <label
            for="password"
            class="absolute left-4 text-gray-500 pointer-events-none transform translate-y-3 transition-all duration-150 ease-[cubic-bezier(0.4,0,0.2,1)] peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:bg-white peer-valid:-translate-y-3 peer-valid:scale-75 peer-valid:text-blue-600 peer-valid:bg-white px-1"
          >
            Contraseña
          </label>

          <!-- Errores -->
          <div
            class="text-red-500 text-sm mt-1"
            *ngIf="
              authForm.get('password')?.hasError('required') &&
              authForm.get('password')?.touched
            "
          >
            La contraseña del usuario es obligatoria.
          </div>
        </div>

        <input
          type="submit"
          [disabled]="authForm.invalid"
          (click)="sesionActive()"
          value="Iniciar Sesion"
          class="bg-primary-400 cursor-pointer text-black font-semibold text-lg rounded-full py-2 px-4 hover:bg-primary-500 mt-8"
        />
      </form>
      <div class="text-center pt-12 pb-12">
        <p>
          ¿No tienes una cuenta?

          <a
            routerLink="/Auth/register"
            class="text-warning-700 underline font-semibold"
            >Regístrese aquí.</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="w-1/2 shadow-2xl">
    <img
      class="w-full h-screen hidden md:block"
      src="../../../../assets/images/sign-in/login.png"
    />
  </div>
</div>

<app-notifications
  [statusnotification]="statusnotification"
  [title]="notificationTitle"
  [message]="notificationMessage"
  [type]="notificationType"
></app-notifications>

<app-loading *ngIf="isLoading"></app-loading>
