<div class="w-full relative backdrop-blur-3xl">
  <div class="w-full max-w-7xl mx-auto px-2 lg:px-8">
    <div class="flex justify-between items-center">
      <div>
        <h2
          class="font-manrope text-2xl md:text-3xl leading-tight text-primary-titulo mb-1.5"
        >
          EJERCICIOS
        </h2>
        <p class="text-base md:text-lg font-normal text-gray-600 mb-8">
          Pacientes del Centro Gerontologico
        </p>
      </div>
      <!-- Botones -->
      <div class="flex flex-wrap gap-4 pl-4 w-full md:w-auto">
        <div
          class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-3 w-full"
        >
          <div class="relative w-full md:w-auto">
            <button
              id="filterDropdownButton"
              (click)="toggleFilterDropdown()"
              class="w-full md:w-auto px-5 py-2.5 flex justify-between gap-3 text-sm font-medium text-warning-600 border-warning-700 border items-center hover:bg-primary-400 hover:text-black hover:border-white rounded-lg text-center cursor-pointer"
              type="button"
              aria-controls="filterDropdown"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="md:w-5 md:h-5 h-7 w-7"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
                  clip-rule="evenodd"
                />
              </svg>
              Filtrar Datos
              <svg
                class="-mr-1 ml-1.5 md:w-5 md:h-5 h-10 w-10"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                />
              </svg>
            </button>

            <div
              id="filterDropdown"
              *ngIf="isDropdownOpen"
              class="absolute left-0 mt-2 w-full md:w-56 bg-accent-200 border-neutral-800 shadow-xl rounded-lg z-50"
            >
              <div class="p-3">
                <h6 class="mb-2 text-sm md:text-base font-medium text-gray-900">
                  Mostrar
                </h6>
                <hr class="my-2 border-2 border-warning-700" />
                <ul class="space-y-2 text-sm md:text-base">
                  <li
                    *ngFor="let option of filterOptions"
                    class="flex items-center"
                  >
                    <input
                      [id]="option.id"
                      type="checkbox"
                      [checked]="option.checked"
                      (change)="onCheckboxChange($event, option.id)"
                      class="w-4 h-4 text-primary-600 border-gray-300 rounded focus:ring-primary-500"
                    />
                    <label
                      [for]="option.id"
                      class="ml-2 text-sm md:text-base font-medium text-gray-900"
                    >
                      {{ option.label }}
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex gap-5 flex-col max-h-[500px] overflow-y-auto"
      *ngIf="!isLoading; else loadingSpinner"
    >
      <div *ngFor="let paciente of pacientes" class="relative">
        <!-- Botón principal como div contenedor -->
        <div
          matTooltip="Ejercicio {{ paciente.estado }}"
          class="p-6 rounded-xl bg-white relative group transition-shadow duration-300 overflow-hidden flex-shrink-0 cursor-pointer"
          (click)="handleCardClick($event, paciente.id_paciente)"
        >
          <!-- Contenido de la tarjeta -->
          <div class="z-10">
            <label class="hidden">{{ paciente.id_paciente }}</label>
            <div class="flex items-center justify-between mb-3">
              <div class="flex items-center gap-2.5">
                <span
                  class="w-2.5 h-2.5 rounded-full"
                  [ngClass]="getStatusColor(paciente.estado)"
                ></span>
                <p class="text-sm md:text-base font-medium text-gray-900">
                  {{ paciente.date.fecha }} {{ paciente.date.hora }}
                </p>
              </div>
            </div>
            <div class="flex items-center gap-3">
              <h6
                class="text-lg md:text-xl leading-8 font-semibold text-black mb-1"
              >
                {{ paciente.nombre }} {{ paciente.apellido }}
              </h6>
              <i [ngClass]="getStatusIcon(paciente.estado)"></i>
            </div>
            <p class="text-sm text-left md:text-base font-normal text-gray-600">
              {{ paciente.descripcion }}
            </p>
          </div>

          <!-- Efectos de borde -->
          <div class="absolute inset-0">
            <!-- Borde superior -->
            <div
              class="absolute w-full h-0.5 bg-yellow-500 transform -translate-x-full group-hover:translate-x-0 transition-transform duration-500"
              style="top: 0; left: 0"
            ></div>
            <!-- Borde derecho -->
            <div
              class="absolute w-0.5 h-full bg-yellow-500 transform -translate-y-full group-hover:translate-y-0 transition-transform duration-500 delay-100"
              style="top: 0; right: 0"
            ></div>
            <!-- Borde inferior -->
            <div
              class="absolute w-full h-0.5 bg-yellow-500 transform translate-x-full group-hover:translate-x-0 transition-transform duration-500 delay-200"
              style="bottom: 0; right: 0"
            ></div>
            <!-- Borde izquierdo -->
            <div
              class="absolute w-0.5 h-full bg-yellow-500 transform translate-y-full group-hover:translate-y-0 transition-transform duration-500 delay-300"
              style="bottom: 0; left: 0"
            ></div>
          </div>
        </div>

        <!-- Botón "Ver ejercicios" POSICIONADO ABSOLUTAMENTE -->
        <div
          *ngIf="paciente.estado === 'completo'"
          class="absolute bottom-4 right-4 z-20"
        >
          <button
            (click)="openEjerciciosModal(paciente.id_paciente)"
            class="text-sm bg-blue-100 text-blue-800 hover:bg-blue-200 px-3 py-1 rounded-md flex items-center shadow-md"
          >
            <i class="fas fa-eye mr-2"></i> Ver ejercicios
          </button>
        </div>
      </div>
      <div
        *ngIf="pacientes.length === 0"
        class="flex items-center justify-center w-full h-96"
      >
        <div class="relative">
          <!-- Imagen -->
          <img
            src="../../../../../assets/images/SV/notSV-Ejercicio.png"
            alt="logo"
            class="w-full object-cover"
          />
          <!-- Título superpuesto -->
          <p
            class="absolute inset-0 flex items-center justify-center text-2xl font-extrabold tracking-wide text-white text-center bg-black bg-opacity-50 p-4 z-10"
          >
            No se encontraron pacientes con signos vitales estables para asignar
            ejercicios.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingSpinner>
  <div class="flex items-center justify-center">
    <div class="flex items-center justify-center">
      <div
        class="w-14 h-14 my-10 border-t-4 border-warning-600 border-solid rounded-full animate-spin"
      ></div>
      <div class="ml-4 font-poppins text-lg text-neutral-900 font-semibold">
        Cargando...
      </div>
    </div>
  </div>
</ng-template>
<app-notifications
  [statusnotification]="statusnotification"
  [title]="notificationTitle"
  [message]="notificationMessage"
  [type]="notificationType"
></app-notifications>

<app-ejercicio-realizado-modal
  *ngIf="showEjerciciosModal"
  [idPaciente]="selectedPacienteId"
  (close)="closeEjerciciosModal()"
>
</app-ejercicio-realizado-modal>
