<div class="w-full flex flex-wrap justify-between items-center mb-3 mt-1 pl-3">
  <!-- Título y descripción -->
  <div class="mb-3 lg:mb-0">
    <h3 class="text-lg font-bold text-slate-800">
      Pacientes del Centro Gerontologico
    </h3>
    <p class="text-slate-500">Resumen de los pacientes.</p>
  </div>
</div>

<!-- Campo de búsqueda y botones -->
<div class="w-full flex flex-wrap items-center justify-between mb-4">
  <!-- Campo de búsqueda -->
  <div class="relative w-full lg:w-auto flex-grow max-w-sm min-w-[200px] mb-4">
    <input
      class="bg-white w-full pr-11 h-10 pl-3 py-2 placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md"
      placeholder="Buscar por el nombre del paciente..."
    />
    <button
      class="absolute h-8 w-8 right-1 top-1 px-2 flex items-center bg-white rounded"
      type="button"
    >
      <i class="fa-solid fa-magnifying-glass" style="color: #939495"></i>
    </button>
  </div>

  <!-- Botones -->
  <div class="flex flex-wrap gap-4 pl-4 w-full md:w-auto">
    <!-- Contenedor principal ocupa el ancho completo -->
    <div
      class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-3 w-full"
    >
      <!-- Contenedor para el dropdown -->
      <div class="relative w-full md:w-auto">
        <button
          id="filterDropdownButton"
          (click)="toggleDropdown()"
          class="w-full md:w-auto px-5 py-2.5 flex justify-between gap-3 text-sm font-medium text-warning-600 border-warning-700 border items-center hover:bg-primary-400 hover:text-black hover:border-white rounded-lg text-center cursor-pointer"
          type="button"
          aria-controls="filterDropdown"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
              clip-rule="evenodd"
            />
          </svg>
          Filtrar Datos
          <svg
            class="-mr-1 ml-1.5 w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            />
          </svg>
        </button>

        <!-- Dropdown (Siempre debajo del botón y adaptado a responsive) -->
        <div
          id="filterDropdown"
          *ngIf="isDropdownOpen"
          class="absolute left-0 mt-2 w-full md:w-56 bg-accent-200 border-neutral-800 shadow-xl rounded-lg z-50"
        >
          <div class="p-3">
            <h6 class="mb-2 text-sm font-medium text-gray-900">Mostrar</h6>
            <hr class="my-2 border-2 border-warning-700" />
            <ul class="space-y-2 text-sm">
              <li class="flex items-center">
                <input
                  id="withReference"
                  type="checkbox"
                  [checked]="showWithReference"
                  (change)="onCheckboxChange($event, 'withReference')"
                  class="w-4 h-4 text-primary-600 border-gray-300"
                />
                <label
                  for="withReference"
                  class="ml-2 text-sm font-medium text-gray-900"
                  >Pacientes con Referencia</label
                >
              </li>
              <li class="flex items-center">
                <input
                  id="withoutReference"
                  type="checkbox"
                  [checked]="showWithoutReference"
                  (change)="onCheckboxChange($event, 'withoutReference')"
                  class="w-4 h-4 text-primary-600 rounded focus:ring-primary-500"
                />
                <label
                  for="withoutReference"
                  class="ml-2 text-sm font-medium text-gray-900"
                  >Pacientes sin Referencia</label
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tabla -->

<div
  class="relative flex flex-col w-full h-full overflow-scroll bg-white shadow-md rounded-lg bg-clip-border"
>
  <table class="w-full text-left table-auto min-w-max">
    <thead>
      <tr class="text-center">
        <th
          class="hidden p-4 border-b font-poppinswa border-slate-300 bg-slate-50"
        >
          <p class="text-sm font-normal leading-none text-slate-500">_id</p>
        </th>
        <th class="p-4 border-b justify-start border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">
            Nombre
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">
            Apellido
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">
            Presion Arterial
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">
            Frecuencia Cardiaca
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">
            Frecuencia Respiratoria
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300">
          <p class="block text-sm font-p leading-none text-neutral-800">
            Temperatura
          </p>
        </th>
        <th class="p-4 border-b border-slate-300 bg-accent-300"></th>
      </tr>
    </thead>

    <tbody *ngIf="!isLoading; else loadingSpinner">
      <tr
        *ngFor="let paciente of displayedPacientes"
        class="hover:bg-slate-50 border-b border-accent-200"
      >
        <td class="p-4 py-5 hidden">{{ paciente.id }}</td>
        <td class="p-5 py-5 text-center">
          {{ paciente.nombre }}
        </td>
        <td class="p-4 py-2 text-center">{{ paciente.apellido }}</td>
        <td class="py-2">
          <div class="flex flex-col items-center">
            min: {{ paciente.presion_arterial.sistolica_min }}/{{
              paciente.presion_arterial.diastolica_min
            }}<br />
            max: {{ paciente.presion_arterial.sistolica_max }}/{{
              paciente.presion_arterial.diastolica_max
            }}
          </div>
        </td>
        <td class="py-2">
          <div class="flex flex-col items-center">
            min: {{ paciente.frecuencia_cardiaca.min }}
            <br />
            max: {{ paciente.frecuencia_cardiaca.max }}
          </div>
        </td>
        <td class="py-2">
          <div class="flex flex-col items-center justify-center">
            min: {{ paciente.frecuencia_respiratoria.min }}
            <br />
            max: {{ paciente.frecuencia_respiratoria.max }}
          </div>
        </td>
        <td class="py-2">
          <div class="flex flex-col items-center">
            min: {{ paciente.temperatura.min }} °C
            <br />
            max: {{ paciente.frecuencia_respiratoria.max }} °C
          </div>
        </td>

        <td class="p-4 py-5 flex gap-3">
          <!-- Botón Editar Paciente -->
          <button
            *ngIf="!showWithoutReference"
            class="text-slate-600 hover:text-slate-800"
            (click)="abrirModal(paciente, 'edit')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5"
            >
              <path
                d="M16.862 3.487a2.5 2.5 0 0 1 3.54 3.535L7.782 19.643l-4.495 1.12a1 1 0 0 1-1.21-1.212l1.12-4.493 12.665-12.57Z"
              />
              <path
                d="M19.4 2.6a2.5 2.5 0 0 0-3.535 0L2.9 15.564l-.942 3.769a1 1 0 0 0 1.21 1.21l3.769-.942L19.4 6.135a2.5 2.5 0 0 0 0-3.535Z"
              />
            </svg>
          </button>

          <!-- Botón Eliminar Paciente -->
          <button
            *ngIf="!showWithoutReference"
            class="text-slate-600 hover:text-slate-800"
            (click)="showDeleteNotification(paciente)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 text-red-600"
            >
              <path
                d="M9 3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h5a1 1 0 1 1 0 2h-1.23l-1.16 12.154A3 3 0 0 1 14.63 21H9.37a3 3 0 0 1-2.98-2.846L5.23 6H4a1 1 0 1 1 0-2h5V3Zm5 2V4h-4v1h4Zm-6 2 .76 11.027a1 1 0 0 0 .993.973h5.26a1 1 0 0 0 .994-.973L16 7H8Z"
              />
            </svg>
          </button>
          <button
            *ngIf="showWithoutReference"
            class="text-slate-600 hover:text-slate-800"
            (click)="abrirModal(paciente, 'add')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 text-green-600"
            >
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm1-13h-2v4H7v2h4v4h2v-4h4v-2h-4z"
              />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loadingSpinner>
  <div class="flex items-center justify-center">
    <div class="flex items-center justify-center">
      <div
        class="w-14 h-14 my-10 border-t-4 border-warning-600 border-solid rounded-full animate-spin"
      ></div>
      <div class="ml-4 font-poppins text-lg text-neutral-900 font-semibold">
        Cargando...
      </div>
    </div>
  </div>
</ng-template>

<app-pagination
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  [totalItems]="pacientes.length"
  (pageChanged)="onPageChange($event)"
></app-pagination>

<app-modal-referencias-signosv
  [statusModal]="statusModal"
  [actionModal]="actionModal"
  [pacienteData]="pacienteData"
  (closeModalEvent)="closeModal($event)"
  (userIdEvent)="onUserIdReceived($event)"
>
</app-modal-referencias-signosv>

<app-notifications
  [statusnotification]="statusnotification"
  [title]="notificationTitle"
  [message]="notificationMessage"
  [type]="notificationType"
  (deleteAction)="handleDeleteAction($event)"
></app-notifications>
